<!-- Header -->
<div class="header">
    <!-- Logo and Title -->
    <div class="header-left">
        <h1>Home Page</h1>
    </div>
    
    <!-- Profile Section -->
    <div class="header-right">
            <button class="login-button" onclick="window.location.href='login_page.php'">
        <!-- <button class="login-button"> -->
            <h1 class="login-txt">LOGIN</h1>
        </button>
        <!-- <button class="signup-button" onclick="window.open('signup_page.php', '_blank')">
            <h1 class="signup-txt">SIGN UP</h1>
        </button> -->
    </div>
</div>